.files input {
    outline: 2px dashed #0367b9;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 100px 0px 85px 44%;
    text-align: center !important;
    
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
    
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag BIM.xlsx file here ";
    display: block;
    margin: 0 auto;
    color: #0367b9;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
h1{
    margin-top: 10%;
    display: block;
    text-align: center;
    line-height: 150%;
    color: #0367b9;
}

h3{
    display: block;
    text-align: center;
    line-height: 150%;
    color: #0367b9;
}

button{
    
    background-color: #0367b9;
    color: beige;
    font-size: large;
    text-transform: uppercase;
    margin: 1rem auto;
    text-align: center;
    margin-left: 46%;
}

