// Primary Colors
$color-primary: #0367B9;
$color-primary-dark: #024C8B;
$color-primary-light:#098EFB;

// Secondary Colors
$color-secondary: #8AC4BC;
$color-secondary-dark: #5A9C97;
$color-secondary-light: #CFE7E4;

// Background Color
// $color-background: #EDDED9;
$color-background: #FFFFFF;
$color-surface: #FFFFFF;
$color-error: #D12C00;

// Fonts Color
$color-font-dark: #000000;
$color-font-light: #FFFFFF;

// Shadow Colors
$color-dark-shadow: rgba(90, 97, 105, 0.1);
$color-light-shadow: rgba(165, 182, 201, 0.1);
$color-nav-active-hover-shadow: $color-primary-light;

// Color Variables
// Title, Subtitle, Body
$title-font-color: $color-primary;
$subtitle-font-color: $color-primary-dark;
$body-font-color: $color-font-dark;

$title-font-light-color: $color-secondary;
$subtitle-font-light-color: $color-secondary-dark;
$body-font-light-color: $color-font-light;

// Background 
$background-color: $color-background;

// Navbar
// $navbar-top-background-color: $color-surface;
$navbar-background-color: $color-surface;
$navbar-active-link-background-color: $color-dark-shadow;
$navbar-active-link-font-color: $color-primary-dark;

// a (Link)
$a-color: $color-primary;
$a-hover-color: $color-primary-light;

// Button
$button-text-color: $color-secondary-light;
$button-background-color: $color-primary;
